/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Asterisk wildcard selector to override deafult browser settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: lightblue;
    font-family: Outfit, sans-serif;
}